.notification {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
  }
  
  .accept-button, .deny-button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .accept-button:hover, .deny-button:hover {
    background-color: transparent;
    border-color: #ffffff;
  }
  
  .accept-button {
    background-color: #4caf50;
  }
  
  .deny-button {
    background-color: #f44336;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }

  .black-text {
    color: #000000; /* Black color */
  }